/*carousal area only*/
.carousal-container{
    background-color:rgba(0,0,0,0.2);
    border-radius:10px;
    margin-top:1rem;
    position:relative;
}
.carousal-container .main-area{
    width:100%;
}

.carousal-container .right-arrow{
    position:absolute;
    top:43%;
    right:1rem;
}

.carousal-container .left-arrow{
    position:absolute;
    top:43%;
    left:1rem;
}

.carousal-container .right-arrow,
.carousal-container .left-arrow{
    font-size:2rem;
    color:rgba(0,0,0,0.4);
    cursor:pointer;
}

.carousal-container .right-arrow:hover,
.carousal-container .left-arrow:hover{
    transform:scale(1.5);
    color:rgba(0,0,0,0.2);
}

.patient-data-area{
    display:grid;
    grid-template-columns:auto auto auto;
    gap:5px;
    padding:10px;
    margin:0 1rem;
    transition:0.5s;
}


/*this is for patient card component*/
.card-container{
    background-color:rgba(0,0,0,0.15);
    border-radius:0.5rem;
    width:6rem;
    padding:0.8rem 0;
    cursor:pointer;
}

.patient-image{
    height:4rem;
    display:block;
    margin:0 auto;
    border-radius:10px;
}

.patient-name{
    text-align:center;
    font-weight:bolder;
    margin-top:6px;
}

.card-container:hover{
    background-color: rgba(0,0,0,0.8);
    color:whitesmoke;
}

@media screen and (min-width:992px){
    .carousal-container{
        width:100%;
        height:38rem;
    }
    .patient-data-area{
        grid-template-columns: auto auto;
        gap:10px;
        margin-left:3rem;
    }
    .carousal-container .right-arrow,
    .carousal-container .left-arrow{
        font-size:3rem;
        transition:0.2s;
    }
    .carousal-container .right-arrow{
        right:0.2rem;
    }
    .carousal-container .left-arrow{
        left:0.2rem;
    }

    /* patient card responsive styles below */
    .card-container{
        width:10rem;
    }
    .patient-image{
        height:4.5rem;
    }
    .patient-name{
        font-size:1.5rem;
    }

}